<h5>Exemplo de Pipes</h5>

<p>Título: {{livro.titulo | uppercase | lowercase | camelCase}}</p>
<p>Estrelas: {{livro.rating | number: '2.1-1'}}</p>
<p>Páginas: {{livro.numeroPaginas | number}}</p>
<p>Preço: {{livro.preco | currency:'BRL'}}</p>
<p>Data Lançamento: {{livro.dataLancamento | date}}</p>
<p>Url: {{livro.url }}</p>
<p>Livro: {{livro | json}}</p>

<input type="text" [(ngModel)]="filtro" placeholder="Filtro">
<input type="text" (keyup.enter)="addCurso(novoValor.value)" #novoValor placeholder="Adicionar Curso">
<div class="container">
  <div class="flex">
  <div>
    <h5>Pipe puro</h5>
    <br>
    <ul>
      <li *ngFor="let item of livros | filtroArray:filtro">
        {{item}}
      </li>
    </ul>
  </div>

  <div>
    <h5>Pipe Impuro</h5>
    <br>
    <ul>
      <li *ngFor="let item of livros | filtroArrayImpuro:filtro">
        {{item}}
      </li>
    </ul>
  </div>
  <div>
    <h5>Maneira correta de usar filtro nos projetos</h5>
    <br>
    <ul>
      <li *ngFor="let item of getCursos()">
        {{item}}
      </li>
    </ul>
  </div>
</div>
</div>

<div>
  {{valorAsync | async}}
</div>

